 {{>user this.user}}
 <nav>
    <div id="logo"><a href="/myBoards">Just Vibes</a></div>

    <a href="/myBoards">My Boards</a>
    <a href="/explore">Explore</a>
    <a href="/logout">Log out</a>
</nav>
  
    


