<button class="userbutton">
    
        <img class="avatar" src="{{#getLoggedAvatar}}
            {{avatar}}
        {{/getLoggedAvatar}}">
        Hello
        {{#getLoggedUser}}
            {{object}}
        {{/getLoggedUser}}
        </button>