<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <title>Just Vibes</title>
</head>
<header>
    <div id="user">
        {{>user}}
    </div>

<nav>
<div id="logo"><a href="/myBoards">Just Vibes</a></div>
{{>navbar}}
</nav>
</header>

<body>
    <content>
    {{{body}}}


    </content>
</body>
<footer>

</footer>
</html>