 <h1>All Boards:</h1>

    
{{!-- Display ALL Boards --}}

<section>
    {{#each boards}}
    <a href="viewBoard/{{this.id}}">
         <article> 
            <main>{{this.title}}</main>
            <img src="{{this.image}}" style="width:90px; height:90px;"/>
        </article>
    </a>
    {{/each}}
</section>
