<header>
    {{>navbar thisSession}}
</header>


<content>
    <h1>All Boards:</h1>


    {{!-- Display ALL Boards --}}

    <section>
        {{#each boards}}
        <article>
            <div class="container">
                <div class="card">
                    <div class="image" style="background-image: url('{{this.image}}');"></div>
                    <div class="middle">
                        <div class="text">
                            <h3><a class="board" href="/viewBoard/{{this.id}}">{{this.title}}</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        {{/each}}
    </section>
</content>