 <body class="home">
    <div class="bg-text">


    <h1>
        Login or Create New Account
    </h1>

<section>

    <form class="login" action="/login" method="POST">
         <input name="username" placeholder="Enter Username" required/>
         <button class="button">Login</button>
          <p class="login-alert"  style="color: red;">{{loginMsg}}</p>
    </form>

    {{!-- Pop-Up Create Account form --}}
    <center>

         <button class="open-button button" onclick="openCreateUserForm()">Sign Up Here</button>
        <div class="form-popup" id="create-user">
            <form class="form-container" onsubmit="formValidation()" action="/signup" method="POST">
                <input name="username" placeholder="Enter Username" required/>
                <input type="url" name="avatar" placeholder="Avatar URL" required/>
                <button type="submit" class="btn button">Create Account</button>
                <button type="submit" class="btn cancel button" onclick="closeCreateUserForm()">Cancel</button>
            </form>
        </div>
    <p style="color: red;">{{signupMsg}}</p>

</center>

</section>
   </div> 

<script>
    /*
        ----------------Open Create User Form-----------------
    */
    function openCreateUserForm() {
    document.getElementById("create-user").style.display = "block";
    }
    function closeCreateUserForm() {
    document.getElementById("create-user").style.display = "none";
    }
</script>
</body>