body{
    display: grid;
    grid-template-areas: "header header header"
                         "content content content" 
                         "footer footer footer";
        
    grid-template-rows: auto 1fr auto;                 

}

header{
    grid-area: header;
}

content{
    grid-area: content;
}

footer{
    grid-area: footer;
}

.form-popup{
    display: none;
}